# Maven files
target/

# Eclipse files
.project
.settings
.classpath
error-screenshots/

# Idea files
*.iml
.idea

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.config.js
node_modules/
.vscode
webpack.generated.js
vcf-date-range-picker-demo/frontend/generated
vcf-date-range-picker-demo/frontend/index.html
vcf-date-range-picker-demo/src/main/dev-bundle
tsconfig.json
types.d.ts
vite.config.ts

