# Maven files
target/

# Eclipse files
.project
.settings
.classpath
error-screenshots/

# Idea files
*.iml
.idea

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.config.js
node_modules/
.vscode
webpack.generated.js
vcf-date-time-range-picker-demo/frontend/generated
vcf-date-time-range-picker-demo/frontend/index.html
vcf-date-time-range-picker-demo/src/main/bundles
vcf-date-time-range-picker-demo/tsconfig.json
vcf-date-time-range-picker-demo/types.d.ts
vcf-date-time-range-picker-demo/vite.config.ts
vcf-date-time-range-picker-demo/vite.generated.ts

